@media (max-width: 1050px) {
  .footer__payment {
    display: none;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }
  .breadcrumb {
    display: none;
  }
  .guarantees {
    margin-top: 47px;
  }
  .guarantees__info {
    margin-bottom: 47px;
  }
  .popular-offers__slide {
    height: 300px;
  }
  .card-item {
    width: 230px;
    height: 300px;
    border: 6px solid #A473E8;
  }
  .card-item::before {
    width: 240px;
    height: 300px;
  }
  .card-item__img img {
    max-width: 235px;
    max-height: 245px;
  }
  .card-item__name, .card-item__price {
    font-size: 20px;
  }
}

@media (max-width: 560px) {
  .title {
    font-size: 24px;
  }
  .guarantees__title {
    margin-bottom: 20px;
  }
  .popular-offers__title {
    margin-bottom: 30px;
  }

  .popular-offers{
    margin-bottom: 0;
  }

  .popular-offers__slide {
    height: 180px;
  }
  .popular-offers__pagination span {
    width: 15px;
    height: 15px;
  }
  .card-item {
    width: 132px;
    height: 180px;
  }
  .card-item::before {
    width: 132px;
    height: 180px;
    bottom: -12px;
    left: -12px;
  }
  .card-item__img img {
    max-width: 145px;
    max-height: 145px;
  }
  .card-item__elipse {
    width: 95px;
    height: 95px;
    bottom: 38px;
    right: 15px;
  }
  .card-item__name, .card-item__price {
    font-size: 12px;
  }
  .small-img img {
    width: 105px;
    height: 105px;
  }
  .footer {
    padding: 17px 0 30px;
  }
  .footer__text {
    margin: 8px 0 12px;
  }
  .footer__agreement-link {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .logo__img {
    width: 170px;
  }
  .guarantees__text {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .popular-offers {
    margin-bottom: 30px;
  }
  .popular-offers__title {
    font-size: 16px;
  }
  .footer__text {
    font-size: 12px;
  }
  .footer__political-link, .footer__agreement-link {
    font-size: 10px;
  }
}
